@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=IBM+Plex+Mono:wght@200&family=Nuosu+SIL&display=swap');

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bg-blue {
  background-color: #010322;
}



body {
  font-family: 'Nuosu SIL', serif !important;
  font-size: 2em;
}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-top: 2em;
}

.account-heading {
  font-size: 2.5rem;
}

.center-items {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.project-img {
  height: 55px;
  width: 55px;
  margin-right: 16px;
}


.masthead {
  position: relative;
  left: 0px;
  background: url(../assets/site-images/guard.webp);
  border-top: 1px solid #181B57;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg,
      #010322 0%,
      #010322 100%);
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.content {
  height: 150px;
  left: 279px;
  top: 150px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #A1A7C2;
  padding-top: 5em;
  padding-bottom: 7em;
}


.hp-button {
  margin-top: 2em;
  height: 37px;
  background: #0624C8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-family: 'IBM Plex Serif';
  font-style: normal;

}

.button1:hover {
  background-color: #010322;
  color: #A1A7C2;
  border-color: #0624C8;
  transition: 0.7s;
}

/* Logout Page */
.lo-body {
  background-color: #0624C8;
}

.darker-div {
  background-color: #010322;
  margin: 2em;
  color:#0624C8;
  padding: 1em;
}

.form-div {
  margin-top: 0px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.article-card {
  border-radius: 5px;
  background-color:#0624C8;
  box-shadow: 0 4px 8px 0 #f0eded33;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.article-card:hover {
  box-shadow: 0 8px 16px 0 rgba(77, 76, 76, 0.2);
}