{%extends 'base.html'%}

{% block content %}
{{block.super}}

<main>
    <div class="container">
        <div class="border-bottom mb-4 pt-3">
            <h2 class="text-center">About Us</h2>
        </div>
        <div>
            <p>Post your favorite projects and let your peers rate them.</p>
            <p>*A project can be rated based on 3 different criteria: </p>
            <ol>
                <li>Design</li>
                <li>Usability</li>
                <li>Content</li>
            </ol>
            <p>The above criteria are reviewed on a scale of 1-10 and the average score is taken.</p>
        </div>
        <p>*Feature coming soon! </p>
    </div>
</main>


  {% endblock %}