{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}


<main>
  <header id="home" class="masthead">
    <div class="background-overlay">
      <div class="container">
        <div class="header-content">
        </div>
        <div class="content">
          Stay in the loop! <br />
          Know what goes on <br />
          in the hood...

          <div>
            <a class="btn button1 hp-button" href="{% url 'neighborhoods' %}">
              Find My Hood
            </a>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
    </div>
  </header>

  {% if user.is_authenticated %}

  <body class="lo-body">
    <div class="container">
      <div class="darker-div">
        <h2>
          <span class="me-5 pe-5">
            Recent Neighbourhood Posts
          </span>
          <a href="{% url 'post-create' %}" class="btn btn-outline-info me-2">
            Create a Post
          </a>

        </h2>

        <hr />
        {% if posts %}
        {% for post in posts %}
        <!--To be checked out -->
        {% if post.neighborhood == user.profile.neighborhood %}
        <div class="article-card">
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.description|truncatechars:300}}</p>
            </div>
          </article>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="row">
          <div class="col-3"></div>
          <div class="py-3 col-7">
            {% if is_paginated %}

            {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
              class="btn btn-outline-info mb-4" href="?page={{num}}"> {{ num }} </a>
              {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
              {% endif %}

              {% endif %}
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </body>
  {% endif %}
</main>

{% endblock %}