{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}


<main>
    <header id="home" class="masthead">
        <div class="background-overlay">
          <div class="container">
            <div class="header-content">
            </div>
            <div class="content">
                Stay in the loop! <br/>
                Know what goes on <br/>
                 in the hood...

                <div>
                    <a class="btn button1 hp-button">
                        Find My Hood
                      </a>
                </div>
            </div>
            <div>
               
            </div>
          </div>
        </div>
        </div>
    </header>
</main>

{% endblock %}