{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}



<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'assets/awards.jpg' %}" width="200" height="250" class="rounded">
      </div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">The Nightngale Project Awwwards</h1>
        <p class="lead album-lead">
          Post a project and let your peers review it.
        </p>
        <p>
          <a href="{% url 'project-create' %}" class="btn btn-warning my-2 text-uppercase">Post</a>
          <a href="#projects" class="btn btn-outline-info my-2 text-uppercase">View</a>
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'assets/award_badge.jpg' %}" width="200" height="250" class="rounded-circle">
      </div>
    </div>

  </section>

  <div class="album py-5" id="projects">
    <div class="container">
      <h3 class="border-bottom mb-4 pt-3 text-center">Projects</h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for project in projects %}
        <div class="col">
          <div class="card shadow-sm album-card">
            <div class="card-header">
              <div class="row">
                <div class="col-3">
                  <a href="{% url 'user-projects' project.developer.username %}">
                    <img class="rounded-circle project-img" src="{{ project.developer.profile.image.url}}">
                  </a>
                </div>
                <div class="col-9">
                  <h5 class="card-title text-center">
                    <a class="text-mutedi" href="{% url 'project-detail' project.id %}">{{project.title}}</a>
                  </h5>
                </div>
                <div>
                  <div class="text-center">
                    <small class="text-muted text-center">
                      Posted on {{ project.date_posted|date:"d M Y" }}
                    </small>
                    <p class="text-center text-muted">
                      by
                      <a class="mr-2" href="{% url 'user-projects' project.developer.username %}">
                        {{ project.developer }}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <img src="{{project.landing_page.url}}" alt="{{image.altText}}">

            <div class="card-body">
              <p class="card-text">{{project.description|truncatechars:50}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'project-detail' project.id %}" type="button" class="btn btn-sm btn-outline-info">View</a>
                  <a href="#" type="button" class="btn btn-sm btn-warning">Review</a>
                </div>
                <div>
                  <small class="text-mutedi" style="font-size: 0.5em;">{{project.date_posted|timesince}} ago</small>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="py-3 col-7">
          {% if is_paginated %}

          {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
            class="btn btn-outline-info mb-4" href="?page={{num}}"> {{ num }} </a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

            {% endif %}
        </div>
        <div class="col-2"></div>
      </div>

    </div>
  </div>

</main>

{% endblock %}