{%extends 'base.html'%}
{% load static %}

{% block content %}
{{ block.super }}

<body class="lo-body">
    <div class="container">
        <div class="darker-div">
            <section class="py-5">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start border-bottom mb-4 pt-3">
                    <h2 class="p-3">Neighborhoods</h2>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 p-3" role="search"
                        action="{% url 'search_hood_results' %}">
                        <input type="search" class="form-control form-control-dark bg-light"
                            placeholder="Search Hood..." aria-label="Search" name="hood">
                        <!--Will add button if faulty-->
                    </form>
                    <a href="{% url 'neighborhood-create' %}" class="btn btn-outline-info me-2 m-3">
                        Add Hood
                    </a>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% if neighborhoods %}
                    {% for neighborhood in neighborhoods %}
                    <div class="col">
                        <div class="card shadow-sm album-card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="rounded-circle project-img"
                                            src="{{ neighborhood.admin.profile.image.url}}">
                                    </div>
                                    <div>
                                        <div class="text-center mt-2">
                                            <p class="text-center">
                                                <b>{{neighborhood.name}}</b>
                                            </p>
                                            <p class="text-center">
                                                Location: <b>{{ neighborhood.location }} </b>
                                            </p>
                                            <p class="text-center">
                                                Occupants Count: {{ neighborhood.occupants_count}}
                                            </p>
                                            <p class="text-center">
                                                Admin: {{ neighborhood.admin}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="{{neighborhood.hood_image.url}}" alt="neighborhood image">
                            {% if neighborhood.admin == user %}

                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-info btn-sm mt-1 mb-1"
                                            href="{% url 'neighborhood-update' neighborhood.id %}">Update</a>
                                        <a class="btn btn-danger btn-sm mt-1 mb-1"
                                            href="{% url 'neighborhood-delete' neighborhood.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-3">
                    <small>
                        Can't find your hood?
                        <a href="{% url 'neighborhood-create' %}" class="btn btn-info">Create one</a>
                    </small>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="py-3 col-7">
                        {% if is_paginated %}

                        {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                            class="btn btn-outline-info mb-4" href="?page={{num}}"> {{ num }} </a>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number }}">Next</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
                            {% endif %}

                            {% endif %}
                    </div>
                    <div class="col-2"></div>
                </div>

            </section>
        </div>
    </div>
</body>

{% endblock %}