{% extends 'base.html' %}

{% block content %}
    {{ block.super }}

    <div class="container darker-div">
        <section class="py-5">
            <img class="center-items py-5 post-img" src="{{ object.post_image.url }}" alt=""/>
            <div class="text-center  mb-4">
                <h2 class="article-title">{{ object.title }}</h2>
                <small class="text-mutedi">By <a class="text-mutedi" href="">{{ object.author }}</a></small>
            </div>
            <div>
                <p class="text-center">{{ object.description }}</p>
            </div>
            <div class="article-metadata mb-4">
                <div class="text-center">
                    <div>
                        <a href="">
                            <img class="rounded-circle project-img" src="{{ object.author.profile.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="text-center">
                        <small class="text-muted"> Posted {{ object.date_posted|timesince }} ago by
                            {{ object.author }}
                        </small>
                    </div>
                </div>
                {% if object.author == user %}
                    <div class="mt-3 row">
                        <div class="col-5"></div>
                        <div class="col-4">
                            <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1"
                               href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>
                        <div class="col-3"></div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}