{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}

<body class="lo-body">
    <div class="container">
        <div class="darker-div">
            <div class="row py-lg-5">
                <div class="col-3 d-none d-lg-block">
                    <img src="../../../static/assets/site-images/hood.svg" alt="hood"
                        style="height: 300px; width: 300px">
                </div>
                <div class="col-2"></div>
                <div class="form-div col-lg-6 col-md-8 mx-auto">
                    <form method="POST" class="pt-3"  enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 pt-3">Add Hood</legend>
                            {{ form|crispy}}
                            <button class="btn btn-outline-info mb-3 mt-3 text-upper" type="submit">Add</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}